cleanup = true

process {
    cpus = (System.getenv('NEXTFLOW_LOCAL_CPUS') ?: '5').toInteger()
    withLabel:process_single { cpus = (System.getenv('NEXTFLOW_PROCESS_SINGLE_CPUS') ?: '1').toInteger() }
    withLabel:process_low    { cpus = (System.getenv('NEXTFLOW_PROCESS_LOW_CPUS') ?: '2').toInteger() }
    withLabel:process_medium { cpus = (System.getenv('NEXTFLOW_PROCESS_MEDIUM_CPUS') ?: '3').toInteger() }
    withLabel:process_high   { cpus = (System.getenv('NEXTFLOW_PROCESS_HIGH_CPUS') ?: '5').toInteger() }
}